* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #333333;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    padding-top: 1px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 30px;
    background-color: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    font-family: monospace;
    font-size: 16px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #f0140c;
    text-decoration: none;
}

.link {
    list-style: none;
    display: flex;
    gap: 30px;
}

.link a {
    text-decoration: none;
    color: #333131;
    font-weight: bold;
    transition: color 0.3s;
}

.link a:hover {
    color: #e01607;
}

#home {
    min-height: 100vh;
    padding: 100px 20px;
}

#home {
    background-image: url('beach1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#home h2 {
    margin-left: 500px;
    margin-top: 250px;
    font-size: 48px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#home p {
    margin-left: 500px;
    margin-top: 20px;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

#home button {
    margin-left: 670px;
    margin-top: 50px;
    padding: 20px 20px;
    font-size: 18px;
    background-color: goldenrod;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#home button:hover {
    background-color: #f0140c;
}

button a {
    text-decoration: none;
    color: rgb(11, 11, 11);
}

#about {
    /* min-height: 100vh; */
    padding: 70px 20px;
}

#about h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: -50PX;
    color: #f0140c;
}

#about p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 100px;
}

.raja {
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.raja .app {
    border: red;
    border-radius: 20px;
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.raja .dev {
    text-align: center;
    margin-top: 30px;
    gap: 30px;
}

.raja .devlo {
    margin-top: -30px;
}

.raja .hand {
    border-radius: 50px;
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.raja .our {
    text-align: center;
    margin-top: 30px;
    gap: 30px;
}

.raja .visi {
    margin-top: -30px;
}

.raja .goal {
    border-radius: 50px;
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.raja .go {
    text-align: center;
    margin-top: 30px;
    gap: 30px;
}

.raja .money {
    border-radius: 50px;
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.raja .val {
    text-align: center;
    margin-top: 30px;
    gap: 30px;
}

#services {
    min-height: 100vh;
    width: 100%;
    padding: 20px 20px;
}

.half-bg {
    height: 70vh;
    background: url('hg5.jpg') center/cover no-repeat;
    background-attachment: fixed;
}

.half-bg h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(246, 11, 160);
    display: inline-block;
    margin-left: 600px;
}

.half-bg iframe {
    margin-top: 250px;
    margin-left: 400px;
    width: 800px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0px 4px;
    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #ffffff;
}

#portfolio {
    min-height: 100vh;
    padding: 50px 20px;
}

#portfolio h1 {
    text-align: center;
    color: red;
    font-size: 30px;
    font-weight: bold;
}

#portfolio img {
    width: 700px;
    height: 600px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#portfolio h2 {
    text-align: center;
    margin-top: -550px;
    margin-left: 600px;
    font-size: 50px;
    color: rgb(13, 12, 12);
    font-weight: bold;
    gap: 30px;
}

#portfolio p {
    text-align: center;
    margin-left: 600px;
    margin-top: 50px;
}

#portfolio button {
    text-align: center;
    margin-left: 600px;
    margin-top: 50px;
    font-size: 20px;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 26px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-left: 950px;
}

#portfolio button:hover {
    background: #0099cc;
}

#team {
    min-height: 100vh;
    padding: 50px 20px;
}

#team h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(20, 14, 14)
}

#team p {
    margin-left: 400px;
    margin-top: 50px;
}

.gina {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.billion {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 20px 30px;
}

.gina img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    obj
}